<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Localizações em Tempo Real</title>
</head>

<body>
    <h1>Últimas Localizações</h1>
    <ul id="lista"></ul>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script>
        const socket = io();

        socket.on("nova_localizacao", (data) => {
            const li = document.createElement("li");
            li.textContent = `Lat: ${data.latitude} | Lon: ${data.longitude} | Erro: ${data.error} | ${data.timestamp}`;
            document.querySelector("#lista").prepend(li);
        });
    </script>
</body>
</html>
